@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Roboto Slab", serif;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imageContainer{
    width: 66px;
    height: 100%;
    margin: 30px;
    background-color: red;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}
.viewName{
    display: none;
    /* transition: all 2s ease-in-out; */
    color: #cc1f08;
}
.afterClick{
    width: 100%;
    height: 100%;
    transition: all 2s ease-in-out;
}


.firstImg,.secondImg,.thirdImg,.fourthImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.firstImg{
    background-image: url(./image/Sunny\ Beach.jpg);   
}
.secondImg{
    background-image: url(./image/Sunny\ Beach.jpg);
}
.thirdImg{
    background-image: url(./image/Sunny\ Beach.jpg); 
}
.fourthImg{
    background-image: url(./image/Sunny\ Beach.jpg);
}
