#container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 700px;
    border: 5px solid black;
    position: relative;
    
}
.box{
    width: 100%;
    height: 100px;
    margin: 2px;
}
#box1{
    background-color: aqua;
    /* position: relative;
    z-index: 0; */
    position: absolute;
    top: 0;
}
#box2{
    background-color: red;
    /* width: 300px; */
    /* position: relative;
    left: 300px;
    bottom: 80px; */
}
#box3{
    background-color: #0400ff;
    /* position: absolute;  */
    /* left: 0;
    top: 0;  */
}
#box4{
    background-color: blueviolet;
}